---
layout: default
---
<br>
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <h1>{{ page.title | escape }} <small class="text-muted">{{ page.category | escape }}</small></h1>
  <p class="post-meta">
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ page.date | date: date_format }}
    </time>
    {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
    {%- endif -%}
    <br><b>Tags:</b>
    {% for tag in page.tags %}
      | <span itemprop="tags" itemscope itemtype="http://schema.org/Tags"><span class="p-tag h-card" itemprop="name">{{ tag }}</span></span>
    {% endfor %}
  </p>
  <hr>
  {% if page.cover_image %}
    <img src="{{ page.cover_image }}" style="max-height: 200px; object-fit: cover;" class="card-img-top" alt="Image Cover">
    <br>
    <hr>
  {% endif %}
  <br>
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<hr>
<br>